@media screen and (max-width:1025px) {
    .icons-pr{
        display: none;
    }
}

@media screen and (max-width:650px) {
    .unordered{
       display: none;
    }
    .menu-pr{
       background-color: rgb(255, 10, 91);
       padding: 5px 10px;
       color: white;
    }
    .heading-1{
        font-size: 45px;
    }
}
@media screen and (max-width:426px) {
    .heading-1{
        font-size: 25px;
    }
}

@media screen and (max-width:376px) {
    .heading-1{
        font-size: 20px;
    }
}

