* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------------------NAVBAR-------------------*/
nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    border-bottom: 1px solid gray;
}

.icons-pr {
    width: max-content;
    height: max-content;
}

.abc {
    margin-left: 10px;
    transition: .5s all linear;
    font-size: 12px;
}

.abc:hover {
    color: rgb(255, 10, 91);
}

.logo-pr {
    width: max-content;
    height: 90%;
}

.li-pr {
    width: max-content;
    height: auto;
    display: flex;
}

.unordered {
    display: flex;
    position: relative;
}

.list {
    list-style: none;
    margin-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.list:hover {
    color: rgb(255, 10, 91);
}

.menu {
    font-size: 12px;
}

.dd-1 {
    width: 30%;
    height: max-content;
    position: absolute;
    box-shadow: 1px 1px 7px 2px rgb(206, 197, 197);
    visibility: hidden;
    transform: translateY(50px);
    transition: .3s all;
}

#li-1:hover .dd-1 {
    visibility: visible;
    transform: translateY(20px);
}

#li-2:hover .dd-1 {
    visibility: visible;
    transform: translateY(20px);
}

#li-3:hover .dd-1 {
    visibility: visible;
    transform: translateY(20px);
}

#li-4:hover .dd-1 {
    visibility: visible;
    transform: translateY(20px);
}

.creative {
    width: 100%;
    height: 35px;
    border-top: 4px solid rgb(255, 10, 91);
    color: gray;
    display: flex;
    align-items: center;
    padding: 0 5%;
}

.designer {
    width: 100%;
    height: 35px;
    border-top: 1px solid gainsboro;
    color: gray;
    display: flex;
    align-items: center;
    padding: 0 5%;
}


/*----------------------------SECTION-1----------------------*/
.section-1 {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-head {
    width: 70%;
    height: 70%;
    position: relative;
}

.para-1 {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.m-circle {
    width: 120px;
    height: 120px;
    background-color: rgb(255, 203, 31);
    border-radius: 50%;
    margin-left: 14%;
}

.heading-1 {
    font-family: Arial, Helvetica, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 50px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.g-circle {
    width: 30px;
    height: 30px;
    background-color: springgreen;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    left: 68.5%;
}

.para-2 {
    text-align: center;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
}

/* ---------------------------------SECTION-2--------------------- */
.section-2 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.ani-pr {
    width: max-content;
    height: 80%;
    position: absolute;
    right: -20%;
    top: 0%;
}

.img-ani {
    width: 100%;
    height: 100%;
    animation: ani-1 7s linear infinite;
}

@keyframes ani-1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.left-pr {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8% 0 0 8%;
}

.right-pr {
    width: 60%;
    height: max-content;
    z-index: 5;
    margin-right: -20%;
}

.right-img {
    width: 100%;
}

.heading-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(83, 79, 79);
}

.line {
    width: 15%;
    height: 4px;
    background-color: rgb(255, 10, 91);
}

.para-4 {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.heading-3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(83, 79, 79);
}

.para-5 {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/*---------------------------SECTION-3------------------------ */
.section-3 {
    width: 100%;
    height: 80vh;
    background-color: #FFF0DE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-pr {
    width: 80%;
    height: 70%;
    /* border: 1px solid ; */
    position: relative;
    overflow: hidden;
}

.overflow {
    width: 200%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
    transition: 1s all linear;
}

.slide {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 4%;
}

.label-ki-div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#btn-2:checked~.overflow {
    margin-left: -100%;
}

.radio {
    display: none;
}

.img-slide-1 {
    width: 9%;
    height: 25%;
    border-radius: 50%;
}

.para-6 {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.para-7 {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    text-align: center;
    font-size: 10px;
}

/* ---------------------------------SECTION-4---------------- */
.section-4 {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
}

.heading-4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 10px;
}

.line-p {
    width: 5%;
    height: 5px;
    background-color: rgb(255, 10, 91);
    margin-top: 10px;
}

.three-pr {
    width: 70%;
    height: 60%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: auto;
    margin-top: 10px;
}

.boxex-1 {
    position: relative;
    overflow: hidden;
}

.img-1 {
    width: 100%;
    height: 100%;
}

.boxex-1::before {
    content: "";
    position: absolute;
    top: 65%;
    left: -3%;
    width: 120%;
    height: 46%;
    background-color: white;
    transform: rotate(-8deg);
    transition: .9s;
    opacity: 0;
}

.boxex-1:hover::before {
    display: block;
    transform: rotate(10deg);
    opacity: .8;
    top: 62%;
    left: -10%;
}

.text-after {
    position: absolute;
    top: 68%;
    left: -2%;
    width: max-content;
    height: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: 1s;
}

.boxex-1:hover .text-after {
    opacity: 1;
    left: 5%;
}

.icons-after {
    position: absolute;
    bottom: 0%;
    left: 2%;
    width: 25%;
    height: max-content;
    opacity: 0;
    transition: 1s;
}

.xyz {
    margin-left: 5%;
    transition: .5s;
}

.boxex-1:hover .icons-after {
    opacity: 1;
    bottom: 5%;
}

.xyz:hover {
    color: rgb(255, 10, 91);
}